* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* scroll-padding-top: 5rem; */
    /* scroll-behavior: smooth; */
}

body {
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: .9375rem;
    font-weight: 400;
    animation: append-animate 0.5s ease-in-out;
    overflow: scroll;
}
.header {
    position: fixed;
    z-index: 10;
    top: 0px;
    height: 50px;
    width: 100%;
    box-shadow: 5px 5px 14px -15px rgb(0 0 0 / 50%);
    border-bottom: 0.3px solid rgba(0,0,0,0.05);
    background-color:  white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo {
    
    align-items: center;
    justify-content: center;
    height: 80%;
    padding-left: 25px;
}

.logo img {
    border-radius: 50%;
    height: 100%;  
    background-color: white;
}
.about-header {
      
}
.about-logo {
    height: 100%;
    padding-left: 0px;
    text-align: center;
}
.about-logo img {
    height: 400px;
   
    background-color: white;
}
.nav {
       margin: 15px 0px 20px;
       display: flex;
       justify-content: center;
       padding-top: 5px;
       /* background-color: rgb(138, 138, 138); */
       flex-direction: row;
        gap: 100px;
        flex-grow: 1;
        
}
.auth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.username {
    opacity: 0.5;
    font-size: 14.3px;
    font-weight: 600;
    padding: 10px 7px;
    margin-bottom: 2px;
    letter-spacing: 0px;
    display: block;
    font-family: Arial, sans-serif;
    cursor: pointer;
    height: 100%;
}
.username:hover {
    text-decoration-line: underline;
    text-underline-offset: 2px;
}
.login-button {
    margin-right: 7px;
    padding: 0px 3px;
    background-color: #fff;
    color: #b8bdc5;
    border: none;
    cursor: pointer;
}
.button {
    background-color: rgb(30, 144, 219);
    color: white;
    border-radius: 10%;
    text-align: center;
    padding: 2px 10px 3px;
    text-decoration: none;
    display: inline-block;
    font-weight: 550;
}
.create-post {
    width: 100%;
    height: 100%;
    top: 0px;
    display: none;
    position: fixed;
    z-index: 12;
    background-color: rgb(100% 100% 100% / 70%);
    backdrop-filter: blur(5px);
    animation: append-animate 0.1s ease-in-out;
}

.close-button-post {
    position: absolute;
    cursor: pointer;
    text-align: center;
    z-index: 13;
    width: 30px;
    height: 30px;
    background-color: cadetblue;
    top: 11px;
    right: 15px;
    animation: append-animate 0.5s ease-in-out; 
}
.close-button-post svg {
    margin-top: 3px;
    padding: 2px;
    color: white;
}

.create-post form {
    position: relative;
    width: 380px;
    margin-left: 190px;
    padding: 50px 0px;

}
.create-post input, #create-a-post {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 0.5px solid rgba(0 0 0 /40%);
    border-radius: 3px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    /* margin-left: 15px; */
    min-height: 25px;
    padding: 7px 15px;
}

.create-post label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    text-align: left;
    margin: 5px 0px 7px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 0px;;
    color: rgba(0 0 0 /60%);

}
.create-post #body {
    resize: vertical;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 0.5px solid rgba(0 0 0 /40%);
    border-radius: 3px;
    width: 100%;
    /* margin-left: 15px; */
    padding: 7px 15px;
    min-height: 300px;
    margin-bottom: 10px;
}
.create-post .submit {
    display: block;
    width: auto;
    margin-right: 70px;
    padding: 5px 13px;
    
}
.post-noti {
    position: absolute;
    right: 10px;
    bottom: 60px;
    margin-left: 30px;
    font-style: italic;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.9;
    transition: 1s; 
}
.content {
    background-color: #f0f2f5 ;
    margin-top: 40px;
    padding-top: 50px;
    border-top: 0.3px solid rgba(0,0,0,0.1);

}

.main-column {
    width: 510px; /* 510px */
     /* box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.3); */
    margin: 10px auto 0px 28%;
    padding: 15px;
    overflow: auto;
}
.display {
    display: block;
    /* transition: 1s;  */
}
.hidden {
    display: none;
    
    /* transition: 1s;  */
}
.post.smallerize {
    /* transform: scaleY(0) translateY(-100%); */
    /* height: 0px; */
    /* transition: max-height 1s ease-in-out;  */
    /* animation: smaller-animate 1s ease-in-out; */
    opacity: 0;
    transition: all 0.6s ease-in-out;
    /* animation: disapear-animate 1s ease-in; */
    
}
.post {

    position: relative;
    font-family: Segoe UI, Helvetica, Arial, sans-serif;
    width: 100%;
    box-shadow: 0px 1px 1px -2px rgb(0 0 0 / 80%);
    border: 0.3px solid rgba(114, 114, 114, 0.14);
    border-radius: 6px;
    padding: 3px;
    margin-bottom: 16px;
    background-color: #fff;
    text-align: start;
    animation: append-animate 0.5s ease-in-out;
    transition: all 1s ease-in-out;
}
.post>div {
    background-color: #fff;
 
}
.post-head {
    font-weight: 630;
    font-size: 18px;
    padding: 9px 14px 4px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 4px 4px 0px 0px;
    opacity: 0.85;
}
.posts-person {
    font-weight: 620;
    font-size: 11px;
    padding: 15px 15px 3px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 4px 4px 0px 0px;
    opacity: 0.9;
}
.post-snippet {
    padding-left: 15px;
    padding-right: 14px;
    padding-bottom: 10px;
    margin: 0px 3px;
    text-align: right;
    font-style: oblique;
    font-size: 12px;
    font-weight: 490;
    opacity: 0.22;

}
.post-body {    
    /* line-height: 20px; */
    font-size: 15px;
    line-height: 22px;
    word-spacing: -1px;
    font-weight: 400;
    text-align: start;
    padding: 4px 14px 17px;
    margin-bottom: 0px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 0px 0px 4px 4px;
    white-space: pre-wrap;
}
.more-button {
    /* padding-right: 12px; */
    padding: 0px 0px 5px 12px;
    text-align: right;
    cursor: pointer;
    
}
.react-band {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 10px 8px 9px;
}
.react {
    cursor: pointer;
    padding: 5px 8px;
    font-size: 17px;
}
.fa-ellipsis-vertical {
    display: inline-block;
    height: 10px;
    opacity: 60%;
}
#create-a-post {
    /* border-radius: 0px;
    margin-bottom: 0px;
    margin-top: 20px;
    border: 1px solid rgba(0 0 0 /30%); */
    width: 50%;
    height: 50px;
    margin-left: 3px;
}

@keyframes append-animate {
    from {
        /* transform: scale(0); */
        /* transform: translateY(-100%); */
        opacity: 0;
    }
    to {
        /* transform: scale(1); */
        /* transform: translateY(0%); */
        opacity: 1;
    }
}
@keyframes disapear-animate {
    from {
        /* transform: scale(0); */
        /* transform: translateY(-100%); */
        opacity: 1;
    }
    to {
        /* transform: scale(1); */
        /* transform: translateY(0%); */
        opacity: 0;
    }
}
@keyframes smaller-animate {
    from {
        /* transform: scale(0); */
        /* transform: translateY(-100%); */
        height: auto;
    }
    to {
        /* transform: scale(1); */
        /* transform: translateY(0%); */
        height: 0px;
    }
}
@media screen and (max-width: 440px) {
    
    .main-column {
        width: 100%;
        margin: 0px;
        padding: 0px;
        padding-top: 15px;
    }
    .nav {
        display: none;
        gap: 0px;
        justify-content: space-around;
        padding: 20px;
    }
    .create-post form {
        width: 95%;
        margin: 0 auto;
        padding: 50px 0px;
    }
   .post {
    border-radius: 0px;
    box-shadow: none;
    
    padding: 6px 12px;
   }
   .post-head {
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 0px;
    font-size: 16px;
    padding-bottom: 19px;
    opacity: 0.8;
   }
   .post-snippet {
    text-align: right;
    padding-left: 11px;
    padding-right: 11px;
   }
   .post-body {
    padding-left: 11px;
    padding-right: 11px;
    border-bottom: 2px;
    border-radius: 0px;
    opacity: 0.85;
    font-size: 15px;
   }
   .posts-person {
    font-weight: 600;
    font-size: 13px;
    padding: 15px 11px 3px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 4px 4px 0px 0px;
    opacity: 0.9;
}
#create-a-post {
    margin-left: 12px;
}
}

@media screen and (max-width: 700px) and (min-width: 440px) {
    
    .main-column {
        width: 80%;
        margin: 0px auto;
    }
    .nav {
        gap: 0px;
        justify-content: space-around;
        padding: 20px;
    }
    .create-post form {
        width: 80%;
        margin: 0 auto;
        padding: 50px 0px;
    
    }
 
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
    .main-column {
        width: 510px; /* 510px */
         /* box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.3); */
        margin: 25px auto 15px auto;
        padding: 10px;
    }
}